.primaryBtn {
  width: fit-content;
  background: linear-gradient(135deg, #2595b4, #22c55e);
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.primaryBtn:hover {
  opacity: 0.95;
}
.shading {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    270deg,
    rgba(72, 72, 72, 0) 0%,
    rgba(87, 86, 86, 0.02) 40%,
    rgba(55, 55, 55, 0.2) 70%,
    rgba(72, 72, 72, 0.5) 100%
  );
  z-index: 0;
}

.footerCurve{
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  line-height: 0;
  z-index: 3;
}

.footer{
  position: relative;
  z-index: 1;
}

.footerImg{
   background-image: url("/footer-img.png");
  background-size: fill;
  
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
z-index: -1;
  width: 100%;
  height: 700px;
}

.footerContent{
padding-top: 137px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5px;

 h1{
  font-size: 2rem;
  color: #161616;
  line-height: 1.2;
 }
 button{
  display: flex;
  align-items: center;
  gap: 5px;
 }
  
}

.footerCards{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 40px 20px;
}
.footerCards div{
  background: #fffefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.footerCards div h2{
  font-size:1.8 rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footerCards div p{
  font-size: 0.9rem;
  color: #6b7280;
  line-height: 1.6;
}

.footerLowerCard{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 15px;
  margin: 20px 20px;
margin-left: 150px;
  background: #fffefe;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
mask-image: linear-gradient(to right,
black 0%,
black 50%,
transparent 100%
);
-webkit-mask-image: linear-gradient(to right,
black 0%,
black -50%,
transparent 70%
);

}
.footerLowerCard h2{
  font-size: 2rem;
  color: #161616;
  line-height: 1.2;
}

/* Responsive fixes only */

/* Footer cards */
@media (max-width: 1024px) {
  .footerCards {
    flex-direction: column;
    align-items: center;
  }

  .footerCards div {
    max-width: 500px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .footerLowerCard {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    mask-image: none;
    -webkit-mask-image: none;
  }
}

@media (max-width: 640px) {
 

  .footerLowerCard  {
    display: none;
  }

  .primaryBtn {
    width: 100%;
    justify-content: center;
  }
}
