.works {
  padding: 5rem 2rem;
  background: #f8fafc;
}

.worksHeading {
  text-align: center;
  margin-bottom: 3rem;
}

.worksHeading h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #0f172a;
}

.worksHeading p {
  color: #64748b;
  margin-top: 0.5rem;
}

.worksFlow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
}

.workCard {
  position: relative;
  width: 380px;
  background: #ffffff;
  border-radius: 14px;
  padding: 1.5rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: left;
}

.icon {
  font-size: 2rem;
 
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.step {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #08d676;
  color: white;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardHeader h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0f172a;
}

.workCard p {
  font-size: 0.95rem;
  color: #64748b;
  line-height: 1.5;
}


.arrowWrapper {
    position: absolute;
    top: 50%;
   right: -20px;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 4;
}

.arrowLine {
  width: 60px;
  height: 2px;
  background: linear-gradient(90deg, #3e3e3e, #3e95aa);
  clip-path: polygon(0 30%, 100% 0, 100% 90%);
}

.arrowHead {
  width: 8px;
  height: 8px;
  border-top: 2px solid #1abdd2;
  border-right: 2px solid #1abdd2;
  transform: rotate(45deg);
  margin-left: -2px;
}

@media (max-width: 900px) {
  .worksFlow {
    flex-direction: column;
    
    gap: 2rem;
    flex-wrap: nowrap;
  }

  .arrowWrapper {
    display: none;
  }
}
